
@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Trochut:ital@1&family=Vujahday+Script&display=swap');


* { margin:0;
    padding:0;
    box-sizing: 0;
 }


body { background-color: rgb(209, 250, 207);
    overflow: hidden;
}
    
.container {
    width: 45%;
    margin: 32px auto;
   

 }


.header {
    height: 250px;
    text-align: center;
 }

 .header h1 { 
    color: rgb(86, 145, 104);
    font-size: 3.5rem;
    font-family:'Trochut', cursive;
    animation: header;
    animation-duration: 3s;
    position: relative; /*top-right-bottom-left*/
    animation-fill-mode: forwards;
 }

@keyframes header {
    0% { top: -250px;}
    100% {top: 100px; }
}

.main { 
    font-family: 'Vujahday Script', cursive;
    color: rgb(12, 48, 80);
    line-height: 1.5;
    font-size: 2rem;

}

.text-left { 
    animation: text-left;
    position: relative;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

@keyframes text-left {
    0% { left: -1000px;}
    85% { left: 50px;}
    100% { left:0}
    
}
.text-right { 
    margin-top: 32px;
    text-align: right;
    animation: text-right;
    position: relative;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

@keyframes text-right {
    0% { right: -1000px;}
    85% { right: 50px;}
    100% { right:0;}
}

.footer { 
    text-align: center;

}

.btn { 
    opacity: 0;
    border: 2px solid rgb(16, 82, 38);
    color: rgb(86, 145, 104);
    font-size: 2.15rem;
    display: inline-block;
    margin: 2rem;
    padding: 1rem;
    text-decoration: none;
    font-family:'Trochut', cursive;
    text-transform: uppercase;
    animation: aniBtn;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    
}

@keyframes aniBtn {
   0%  {opacity: 0; } /*0-1*/
   100% { opacity: 100;}
    
}
